{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Annonce supprimer!</title>
  </head>
  <body>
    <h1>L'annonce a bien été suprimer</h1>
  </body>
</html>
